<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="FILE_ERROR_PATTERN"
            value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} %file:%line: %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
  	<!--引入默认配置-->
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<property name="APP_NAME" value="outbound-biz"/>
	<property name="LOG_PATH" value="${user.name}/${APP_NAME}/logs"/>
	<property name="LOG_FILE" value="${LOG_PATH}/application.log"/>
	<property name="FILE_LOG_PATTERN_LINGXI" value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} [%t] [%X{EAGLEEYE_TRACE_ID}] [%X{EAGLEEYE_RPC_ID}] %-40.40logger{39}:%L %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

	<appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}</file>
		<encoder>
			<pattern>${FILE_LOG_PATTERN_LINGXI}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>50MB</maxFileSize>
<!--			<totalSizeGap>20GB</totalSizeGap>-->
		</rollingPolicy>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>
